include *.md
include *.rst
include *.sh
include *.yml
include LICENSE
include tox.ini
include .editorconfig
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.py
recursive-include tests *.py *.txt
